* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: #140046;
  font-family: 'Work Sans', 'SF Pro Text', 'Roboto', 'Helvetica Neue', sans-serif;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 34px;
  text-align: center;
  width: 100%;
}

.App form {
  background-color: #472e93;
  border-radius: 6px;
  box-shadow: 13px 13px 0 0 #030628;
  display: block;
  padding: 28px;
}

.App form input[type=text],
.App form input[type=email],
.App form input[type=password] {
  background-color: #d8d8d8;
  border: 0;
  border-radius: 5px;
  display: block;
  font-size: 17px;
  height: 40px;
  outline: 0;
  padding: 0 17px;
  width: 100%;
}

.App form hr {
  border: solid 1px #402986;
  margin: 20px 0 15px;
  width: 100%;
}

.App .link {
  background: none;
  border: 0;
  color: #18faff;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.App .link:hover {
  color: #ffffff;
}

.App .btn {
  background-color: #00d5ae;
  border: 0;
  border-radius: 9px;
  color: #100e44;
  cursor: pointer;
  display: block;
  font-size: 19px;
  font-weight: 600;
  height: 53px;
  transition: background-color .3s ease;
  width: 100%;
}

.App .btn:hover {
  background-color: #ffffff;
}

.App .btn[disabled],
.App .btn.disabled {
  background-color: #24154F;
  color: #8B8888;
  cursor: not-allowed;
  outline: none;
}

form .error {
  color: #ff9999;
}

@media (max-width: 639px) {
  .App {
    padding: 20px;
  }

  .App .Logo {
    font-size: 26px;
  }

  .App .SignIn {
    margin-top: 20px;
  }

  .App .SignUp .RadioGroup .RadioItem {
    flex-basis: 100%;
  }

  .App .SignUp .field {
    flex-wrap: wrap;
  }

  .App .SignUp .field input,
  .App .SignUp .field label {
    flex-basis: 100%;
  }

  .App .SignUp .field.CustomSelect .Select {
    flex-basis: 100%;
  }

  .App .SignUp .field .error {
    left: 50%;
    top: 58px;
  }

  .App .SignUp .textScroll {
    height: 300px;
  }

  .App .SignUp .section {
    padding-bottom: 20px;
  }
}
