$font-family:   "Roboto";
$font-size:     14px;

$color-primary: #ABA194;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    height: 100vh
}

form {
    margin-top: 40px;
    width: 500px;
    border-radius: 6px;
    overflow: hidden;
}

form > input[type=password],input[type=email],input[type=text] {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    outline: 0;
    transition: 0.3s;
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    outline: 0;
    color: black;
    transition: 0.3s;
}